@import url('https://fonts.googleapis.com/css?family=Calistoga&display=swap');

.moodify-headline {
    font-family: 'Calistoga', cursive;
    font-size: 20px;
}

.moodify-content {
    padding: 16px;
}

.moodify-settings-icon {
    font-size: 24px;
    margin-top: 8px;
}

.icon-right {
    float: right;
    margin-right: 16px;
}