@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

.moodify-grid {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.moodify-mood-list-headline {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
}