@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

.moody-card {
    width: 125px;
    height: 175px;
    display: flex;
    flex-direction: column;
}

.moody-card-img {
    width: 125px;
    height: 125px;
    border-radius: 5px;
}

.moody-card-text {
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    margin-top: 4px;
    text-align: left;
}