.spinning-button {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinning-button-circle {
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(205,248,255,1) 0%, rgba(0,190,228,1) 49%, rgba(22,155,213,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    box-shadow: 0 0 0 0 rgba(104, 192, 210, 0.7);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.spinning-button-img {
    width: 25vw;
}

.spinning-moodify-dark {
    width: 30vw;
    height: 30vw;
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(104, 192, 210, 0);
    }
}